<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyl.dao.AriticleDao">
    <select id="queryAriticle" resultType="com.liuyl.pojo.Article">
        select id ,categoryId,title,content,description,status,author,createTime,updateTime,showCount
        from article
    </select>
</mapper>